<!-- Navbar and Header -->
<nav class="nav-extended nav-full-header z-depth-0 blue-grey darken-3">
  <div id="bg-container" class="nav-background">

        <div class="ea active bg-image"></div>
      <!-- <video loop playsinline id="video"></video> -->
      <div class="video-background" style="display: none;">
        <div class="video-foreground">
            <div id="player"></div>
        </div>
      </div>
  </div>
  <div class="nav-wrapper container">
      <a href="/" class="brand-logo font-style"><i class="material-icons">camera</i>Mahaputera.art</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="https://mahaputera.art">Home</a></li>
          <li><a href="https://mahaputera.art/blog">Blog</a></li>
          <li><a href="https://mahaputera.art/archive">Archive</a></li>
          <li><a href="https://painting.mahaputera.art">Painting</a></li>
          <li class="active"><a href="https://photo.mahaputera.art">Photo</a></li>
          <li><a href="https://market.mahaputera.art">Market</a></li>
      </ul>
  </div>

  <div class="nav-header valign-wrapper font-style">
      <div class="center">
          <h1>Gallery Photo</h1>
          <div class="ge">Capture a moment with artistic angle</div>
      </div>
  </div>

  <!-- Fixed Masonry Filters -->
  <div class="categories-wrapper">
      <div class="categories-container">
          <ul class="categories container">
              <li class="active"><a href="#all">All</a></li>
              <li><a href="#nature">Nature</a></li>
              <li><a href="#culture">Culture</a></li>
          </ul>
      </div>
  </div>
</nav>
<ul class="side-nav" id="nav-mobile">
<li>
    <a href="https://mahaputera.art"><i class="material-icons">dashboard</i>Home</a>
</li>
<li>
    <a href="https://mahaputera.art/blog"><i class="material-icons">article</i>Blog</a>
</li>
<li>
    <a href="https://mahaputera.art/archive"><i class="material-icons">event</i>Archive</a>
</li>
<li>
    <a href="https://painting.mahaputera.art"><i class="material-icons">palette</i> Painting</a>
</li>
<li class="active">
    <a href="https://photo.mahaputera.art"><i class="material-icons">camera_alt</i> Photo</a>
</li>
<li>
    <a href="https://market.mahaputera.art"><i class="material-icons">local_mall</i> Market</a>
</li>
</ul>